body {
  font-family: 'Open Sans', sans-serif;
  color: #292B33;
  font-size: 12px;
  font-weight: normal;
  background: #fff;
  line-height: 120%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow: hidden;
}
html {
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Yantramanav", serif;
  font-weight: 500;
  color: #191C23;
  text-transform: uppercase;
  line-height: 80%;
  margin: 0 0 20px 0;
}
h1, .h1 {
  font-size: 60px;
  color: white;
}
h2, .h2 {
  font-size: 40px;
  font-weight: 600;
  color: #010101;
}
h3, .h3 {

  margin-bottom: 5px;
}
h4, .h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 120%;
}
h5, .h5 {}
h6, .h6 {}
ul, ol {
  list-style: none;
  padding-left: 0;
}
ul li,
ol li,
p {
  font-size: 16px;
  color: #323232;
  line-height: 140%;
  margin-bottom: 15px;
}
.intro p {
  font-size: 18px;
  line-height: 160%;
}
a {
  color: #1B4381;
  text-decoration: none;
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}
a:hover {
  text-decoration: none;
}
a:hover, a:focus {
  color: gray;
}
b, strong {
  font-weight: 600;
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid #e6e6e6;
}
blockquote {
  background: #F8F8F8;
  border-radius: 10px;
  padding: 25px;
  width: 90%;
}
blockquote svg {
  width: 27px;
  height: 27px;
  color: #FB5519;
  display: block;
}
blockquote p {
  font-style: italic;
}
.oh {
  overflow: hidden;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.relative {
  position: relative !important;
}
.clear {
  clear: both;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
.left {
  float: left;
}
.cover { 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
ul.bullets li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
}
ul.bullets li:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 7px;
  background: #1B4381;
}
/*////////////////////////
///       Header      ////
////////////////////////*/
header {
  position: absolute;
  width: 100%;
  height: 85px;
  top: 0;
  left: 0;
  z-index: 999;
  background: transparent;
  padding-top: 15px;
  justify-content: center;
}
header.smaller {
  animation: .8s ease 0s normal none 1 running fadeInDown;
  box-shadow: 0px 1px 8px rgba(0,0,0,.4);
  position: fixed;
  background: white;
  height: 70px;
  padding-top: 10px;  
}
header .logo { 
  margin-top: 0px;
  margin-top: 3px; 
}
header.smaller .logo { 
  margin-top: 0;
  height: 50px; 
}
header.smaller .navigation {
  padding-top: 13px;
}
header.smaller .navigation.cntc {
  padding-top: 0;
}
header.smaller .srch a,
header.smaller nav ul li a {
  color: #010101;
}
header.smaller .navigation.srch {
  padding-top: 10px;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.navigation {
  float: left;
  padding-top: 20px;
  margin-right: 30px;
}
.navigation:last-child {
  padding-top: 0;
  margin-right: 0;
}
.navigation.lngg {
  font-size: 16px;
  color: white;
}
.navigation.srch {
  padding-top: 17px;
}
.navigation.srch i {
  font-size: 20px;
  color: white;
}
.navigation.cntc {
  padding-left: 10px;
}
.header-navigation {
  display: flex;
  justify-content: flex-end;
}
.srch a {
  font-size: 18px;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.srch a:hover {
  color: #fb5519 !important;
}
/*////////////////////////
///       Footer      ////
////////////////////////*/
footer { margin-bottom: 15px; }
footer .ft-container {
  background-color: #1F2124;
  background-image: url(../img/nave-industrial-tessin.webp);
  background-size: 950px;
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 80px;
  border-radius: 15px;
}
footer .cta h3 {
  font-size: 32px;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}
footer .cta p { color: #CDCDCD; }
footer .btns {
  padding-top: 25px;
}
footer .btns a:first-child {
  margin-right: 30px;
}
footer h4 {
  color: white;
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 30px;
}
footer h4:before {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background: #FB5519;
  position: absolute;
  bottom: 0;
}
.ft-nav ul li { margin-bottom:m10px; }
.ft-nav ul li:before {
  font-family: bootstrap-icons !important;
  content: "\f285";
  font-size: 12px;
  color: #FB5519;
  margin-right: 5px;
  position: relative;
  top: 1px;
}
.ft-nav ul li a {
  font-size: 14px;
  color: #CDCDCD;
}
.ft-nav ul li a:hover,
.ft-contact-nav li a:hover {
  color: #FF7746;
}
.ft-contact-nav li,
.ft-contact-nav li a {
  font-size: 14px;
  color: #CDCDCD;
}
.ft-contact-nav li { 
  padding-left: 20px; 
  position: relative;
}
.ft-contact-nav li:before {
  font-size: 12px;
  color: #FB5519;
  margin-right: 5px;
  top: 4px;
  left: 0;
  position: absolute;
}
ul.social {

}
ul.social li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}
ul.social li:last-child {
  margin-right: 0;
}
ul.social li a {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #C3C3C3;
  background: #2E3033;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
ul.social li a:hover {
  color: white;
  background: #fb5519;
}
.copyright {
  padding-bottom: 15px;
}
.copyright hr {
  border-top: 1px solid #8b8e91;
  margin-bottom: 30px;
}
.copyright a,
.copyright p {
  font-size: 12px;
  color: #CDCDCD;
}
.copyright p strong {
  color: #FB5519;
}
.copyright a { text-decoration: underline; }
/*///////////////////////
///        Menu       ///
///////////////////////*/
nav {
  display: inline-block;
  vertical-align: top;
}
nav ul {
  margin: 0;
}
nav ul li {
  display: inline;
  margin-right: 40px;
  position: relative;
}
nav ul li a {
  font-family: "Yantramanav", serif;
  font-size: 16px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
  padding-top: 2px;
  display: inline-block;
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}
nav ul li a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}
nav ul li a:hover:after,
nav ul li.current-menu-item a:after,
nav ul li.current-page-ancestor a:after {
  width: 100%;
  background: #fb5519;
}
nav ul li a:hover,
nav ul li.current-menu-item a,
nav ul li.current-page-ancestor a {
  color: white;
} 
nav ul li:last-child {
  margin-right: 0;
}
/*///////////////////////
///    Mobile Menu    ///
///////////////////////*/
#mobile-menu {
  display: block;
  position: fixed;
  top: 0;
  padding: 25px 20px;
  width: 350px;
  height: 100%;
  right: -350px;
  box-sizing: border-box;
  z-index: 9999;
  overflow: hidden;
  background: #122c54;
}
#mobile-menu nav {
  float: none;
}
.cerrar-menu {
  cursor: pointer;
}
#mobile-menu .icon-close {
  cursor: pointer;
  font-size: 20px;
  color: white;
  margin-bottom: 40px;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  padding: 11px;
  text-align: center;
  transition: all 300ms;
  border: 1px solid #ffffff82;
}
#mobile-menu .icon-close:hover {
  border-color: white;
}
#mobile-menu .language a span {
  color: white;
}
#mobile-menu .language a:hover {
  background: #1B4381;
}
.hamburger {
  color: white;
  float: right;
  font-size: 25px;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: all 300ms;
  background: #FB5519;
}
.hamburger:hover {
  background: #010101;
}
.cerrar-menu img:hover {
  opacity: 0.7;
}
#mobile-menu nav {
  display: block;
}
#mobile-menu nav ul {
  margin-bottom: 40px;
}
#mobile-menu nav ul li a {
  color: white;
  font-weight: 600;
  padding: 15px 10px;
  display: block;
}
#mobile-menu nav ul li a:hover,
#mobile-menu nav ul li.current-menu-item a,
#mobile-menu nav ul li.current-page-ancestor a  {
  color: #ffffff;
  background: #ffffff1f;
}
#mobile-menu nav ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: block;
  margin-bottom: 0;
  margin-right: 0;
}
#mobile-menu nav ul li a:hover:after, 
#mobile-menu nav ul li.current-menu-item a:after,
#mobile-menu nav ul li.current-page-ancestor a:after {
  background: transparent;
}
/*body.open-menu {
  height: 100vh;
  overflow-y: hidden;
}
body.open-menu .mask {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 98;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
}
body.open-menu #mobile-menu {
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
}*/
/*///////////////////////
///       Layout      ///
///////////// /////////*/
.mt40 { margin-top: 40px; }
.pr5 { padding-right: 5px; }
.pl5 { padding-left: 5px;}
.h5px  { height: 5px;  }
.h10px { height: 10px; }
.h15px { height: 15px; }
.h20px { height: 20px; }
.h30px { height: 30px; }
.h40px { height: 40px; }
.h50px { height: 50px; }
.h60px { height: 60px; }
.h70px { height: 70px; }
.h80px { height: 80px; }
.p0    { padding: 0; }
.m0    { margin: 0; }
.pt5   { padding-top: 5px;  }
.pt10  { padding-top: 10px; }
.pt15  { padding-top: 15px; }
.pt20  { padding-top: 20px; }
.pt30  { padding-top: 30px; }
.pt40  { padding-top: 40px; }
.pt50  { padding-top: 50px; }
.pt60  { padding-top: 60px; }
.pt70  { padding-top: 70px; }
.pt80  { padding-top: 80px; }
.pt90  { padding-top: 90px; }
.pt100 { padding-top: 100px; }
.pt120 { padding-top: 120px; }
.pt140 { padding-top: 140px; }
.pt150 { padding-top: 150px; }
.pt160 { padding-top: 160px; }
.pt180 { padding-top: 180px; }
.pt200 { padding-top: 200px; }
.pb10  { padding-bottom: 10px; }
.pb15  { padding-bottom: 15px; }
.pb20  { padding-bottom: 20px; }
.pb30  { padding-bottom: 30px; }
.pb40  { padding-bottom: 40px; }
.pb50  { padding-bottom: 50px; }
.pb60  { padding-bottom: 60px; }
.pb70  { padding-bottom: 70px; }
.pb80  { padding-bottom: 80px; }
.pb90  { padding-bottom: 90px; }
.pb100 { padding-bottom: 100px; }
.pb110 { padding-bottom: 110px; }
.pb120 { padding-bottom: 120px; }
.pb130 { padding-bottom: 130px; }
.pb140 { padding-bottom: 140px; }
.pb150 { padding-bottom: 150px; }
.pb160 { padding-bottom: 160px; }
.pb180 { padding-bottom: 180px; }
.pb190 { padding-bottom: 190px; }
.pb200 { padding-bottom: 200px; }
.mb0   { margin-bottom: 0;    }
.mb10  { margin-bottom: 10px; }
.mb20  { margin-bottom: 20px; }
.mb25  { margin-bottom: 25px; }
.mb30  { margin-bottom: 30px; }
.mb35  { margin-bottom: 35px; }
.mb40  { margin-bottom: 40px; }
.mb50  { margin-bottom: 50px; }
.mt-site { margin-top: 15px; }
.show-md,
.show-xl,
.show-xxl,
.display-none { display: none; }
.img-cover {
  position: relative;
  height: 100%;
}
.img-cover > img {
  object-fit: cover;
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
/*////////////////////////
///      Sections     ////
////////////////////////*/
.bg-texture-orange {
  background: url(../img/texture-orange.svg) #FB5519;
}
.bg-texture-gray {
  background: url(../img/bg-texture-gray.svg) #f8f8f8;
}
.bg-structure {
  background: url(../img/bg-servicess.webp) no-repeat bottom;
}
.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  background: #FB5519;
  font-weight: 600;
  border-radius: 50px;
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 8px 8px 20px;
  width: fit-content;
  z-index: 0;
  overflow: hidden;
  gap: 10px;
  transition: 0.4s;
  min-width: 170px;
  justify-content: space-between;
}
.btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 100%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #222222;
  transform-origin: 100% 50%;
  transform: scale3d(1, 2, 1);
  transition: transform 0.4s, opacity 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
}
.btn:hover {
  background: #FB5519;
  color: white;
}
.btn:hover::before {
  transform: scale3d(10, 9, 1);
  transform-origin: 110% 55%;
}
.btn i {
  color: white;
  background: #FF7746;
  font-size: 26px;
  border-radius: 50px 50px 50px 50px;
  position: relative;
  z-index: 2;
  transition: 0.4s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
}
.btn:hover i {
  color: white;
  background: #4B4A4A;
  transform: rotate(0deg);
}
.btn.white {
  border: 1px solid white;
  background: rgba(255,255,255,.6);
  color: white;
}
.btn.white i {
  background: white;
  color: #313131;
}
.btn.white:hover {
  border-color: #222222;
}
.btn.dark {
  background: #222222;
}
.btn.dark i {
  background: #4B4A4A;
}
.btn.dark:before {
  background: #3b3b3b;
}
.btn-circle {
  color: white;
  background: #FB5519;
  font-size: 36px;
  border-radius: 50px 50px 50px 50px;
  position: relative;
  z-index: 2;
  transition: 0.4s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  transform: rotate(-45deg);
}
.btn-circle:hover {
  color: white;
  background: #4B4A4A;
  transform: rotate(0deg);
}
.more {
  font-size: 12px;
  color: #FB5519;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 300ms;
}
.more:hover,
.more:hover i  {
  color: #010101;
}
.more i {
  font-size: 26px;
  color: #FF7746;
  display: inline-block;
  transform: rotate(-45deg);
  transition: 0.4s;
  position: relative;
  top: 1px;
}
.more:hover i {
  transform: rotate(1deg);
}
.path {
  position: absolute;
  left: 12px;
  top: 0;
  height: 70px;
  width: 257px;
  background: white;
  border-bottom-right-radius: 25px;
  z-index: 1;
}
.path::after {
  position: absolute;
  right: -25px;
  top: 0;
  content: "";
  height: 25px;
  width: 25px;
  background: url('../img/corner.svg');
  /*  transform: rotate(180deg);*/
}
.path::before {
  position: absolute;
  left: 0;
  bottom: -25px;
  content: "";
  height: 25px;
  width: 25px;
  background: url('../img/corner.svg');
  /*  transform: rotate(180deg);*/
}
.path.crt {
  position: absolute;
  left: initial;
  right: 12px;
  top: 0;
  width: 205px;
  height: 60px;
  background: white;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 25px;
  z-index: 1;
}
.path.crt::before {
  position: absolute;
  left: -25px;
  bottom: initial;
  transform: rotate(90deg);
}
.path.crt::after {
  right: 0px;
  top: initial;
  bottom: -25px;
  transform: rotate(90deg);
}
.path.crb {
  width: 213px;
  height: 91px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 25px;
  right: 0;
  bottom: 0;
  left: initial;
  top: initial;
}
.path.crb::before {
  left: -25px;
  bottom: 0px;
  transform: rotate(180deg);
}
.path.crb::after {
  right: 12px;
  top: -25px;
  transform: rotate(180deg);
}
.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #FB5519;
  position: relative;
  display: inline-block;
  padding-left: 50px;
}
.subtitle:before {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: #FB5519;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.rounded15 { 
  border-radius: 15px; 
  overflow: hidden;
}
.intro-txt {
  padding-left: 90px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.intro-txt .subtitle { margin-left:-50px }
.intro-txt .btns a:first-child {
  margin-right: 25px;
}
a.call {
  font-size: 18px;
  color: #323232;
  font-weight: 600;
  padding-left: 50px;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
a.call span {
  font-size: 15px;
  color: #666666;
  display: block;
  font-weight: 400;
  margin-bottom: 8px;
}
a.call:before {
  content: '';
  background: url(../img/icon-call.svg) no-repeat;
  background-size: cover;
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 0;
}
.intro-img .path.crt {
  width: 175px;
  height: 215px; 
  right: 0;
}
.card-years {
  width: 160px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.card-years .year-numb {
  font-family: "Yantramanav", serif;
  font-size: 60px;
  font-weight: 600;
  height: 50px;
  margin-bottom: 5px;
  color: white;
}
.card-years .year-numb:before {
  content: '+ ';
  position: relative;
  left: -29px;
  top: 16px;
}
.card-years .year-txt p {
  font-size: 15px;
  color: white;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
} 
.item-num {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.item-num .year-numb {
  font-family: "Yantramanav", serif;
  font-size: 70px;
  font-weight: 600;
  height: 50px;
  margin-bottom: 5px;
  color: #FB5519;
  margin-right: 20px;
}
.item-num .year-numb:before {
  content: '+ ';
  position: relative;
  left: -40px;
  top: 16px;
}
.banner {
  padding: 80px 50px 160px 40px;
  text-align: center;
}
.banner p {
  font-size: 24px;
  color: white;
  font-weight: 600;
}
.banner .isotipo {
  margin-bottom: 20px;
}
.banner p strong {
  color: #FB5519;
}
.banner .path {
  border-radius: 15px 15px 0 0;
  width: 425px;
  height: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: initial;
}
.banner .path::before {
  height: 15px;
  width: 15px;
  left: -15px;
  bottom: 0;
  transform: rotate(180deg);
}
.banner .path::after {
  right: -15px;
  height: 15px;
  top: initial;
  width: 15px;
  bottom: 0;
  transform: rotate(270deg);
}
.banner .btns {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 425px;
  z-index: 2;
}
.banner .btns ul {
  text-align: center;
  margin-bottom: 0;
}
.banner .btns ul li {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 0;
}
.banner .btns ul li a {
  min-width: 197px;
}
.banner .btns ul li:last-child { margin-right:0; }
.card-service {
  background: white;
  border: 1px solid #D7D7D7;
  border-radius: 15px;
  height: 420px;
  margin: 0 15px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 40px;
  transition: all 300ms;
  position: relative;
}
.card-service .icono {
  display: block;
  margin: 0 auto 40px auto;
}
.card-service p {
  color: #666666;
}
.card-service:hover .more i {
  transform: rotate(1deg);
}
.card-service:hover {
  background: rgba(0,0,0,.5);
}
.card-service:hover h4,
.card-service:hover p {
  color: white;
}
.card-service .more:hover,
.card-service .more:hover i {
  color: white;
}
.card-service .img-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px;
  overflow: hidden;
}
.stage-medium { 
  height:360px; 
  position: relative;
  border-radius: 0 0 25px 25px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
.stage-medium:before {
  content: '';
  display: block;
  background: rgba(0, 0, 0, .30);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.stage-medium .path {
  left: 0;
}
.stage-medium .path.crt {
  right: 0;
  left: initial;
}
.stage-medium .caption {
  position: relative;
  z-index: 2;
  padding-bottom: 60px;
}
.stage-medium h1 { color:white; }
.brdcrmb { 
  background: white;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 20px 0 20px;
  border-radius: 10px 10px 0 0;
    --r: 10px;
  border: var(--r) solid #0000;
  border-bottom: 0;
  border-radius: calc(2* var(--r)) calc(2* var(--r)) 0 0;
  mask: radial-gradient(100% 100% at 0 0, #0000 98%, #ffffff) 0 100% / var(--r) var(--r), radial-gradient(100% 100% at 100% 0, #0000 98%, #ffffff) 100% 100% / var(--r) var(--r), linear-gradient(#ffffff 0 0) padding-box;
  mask-repeat: no-repeat;
  background: white;
}
.brdcrmb,
.brdcrmb span,
.brdcrmb a {
  font-size: 12px;
  color: #666666;
}
.brdcrmb a:hover span {
  color: #010101;
}
.service-single-img {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.service-single-img img {
  width: 100%;
}
.icono-single-service {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.icono-single-service img {
  width: 60px;
}
.service-single-img .path {
  left: 0;
  top: 0;
  height: 115px;
  width: 115px;
}
.bullets li {
  position: relative;
  padding-left: 25px;
}
.bullets li:before {
  content: "\f26a";
  font-family: bootstrap-icons !important;
  font-size: 12px;
  color: #FB5519;
  position: absolute;
  left: 0;
}
.sectors { padding: 40px; }
ul.sect {
  text-align: center;
}
ul.sect li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: center;
  padding: 0;
}
ul.sect li:before { content: none; }
ul.sect li .icono {
  display: block;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px auto;
  box-shadow: 0 0 20px rgba(0,0,0,.10);
}
.card-single-img  {
  height: 400px;
  position: relative;
}
.card-single-img:before {
  content: '';
  background: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}
.card-single-img img {
  transition: 0.5s;
}
.card-single-img:hover:before {
  opacity: 1;
}
.card-single-img:hover img {
  transform: scale(1.1);
}
.row-service .icono-single-service {
  margin-bottom: 30px;
}
.row-service { padding-bottom: 40px; }
.row-service h2 { 
  text-transform: none; 
  margin-bottom: 15px;
}
.row-service .btn { margin-top:20px; }
.row-service .txt {
  padding-left: 55px;  
  flex-flow: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.sector-item {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.sector-item .txt {
  margin-left: 20px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
.sector-item .txt p { 
  color: #666666;
  font-weight: 600;
  margin-bottom: 0px; 
}
.sector-item .txt h4 { 
  margin-bottom: 0; 
  text-transform: none;
}
.card-project {
  padding-bottom: 40px;
}
.card-project img {
  transition: 0.5s;
} 
.card-project:hover img {
  transform: scale(1.1);
}
.card-project .project-img:hover:before {
  opacity: 1;
}
.card-project .project-img {
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}
.card-project .project-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.2);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}
.card-project .project-desc {
  background: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
  margin: -70px 30px 0 30px;
  position: relative;
  z-index: 1;
  transition: all 300ms;
  min-height: 156px;
}
.card-project:hover .project-desc {
  background: #f5f5f5;
}
.card-project .project-desc h3 { margin-bottom:5px; }
.card-project .project-desc strong {
  color: #FB5519;
}
.card-project .project-desc p { margin-bottom:0; }
.card-project .project-desc .btn-circle {
  position: absolute;
  top: -28px;
  right: 30px;
}
.projects .card-project  {
  padding: 0 15px 20px 15px;
}
.bg-projects:before {
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 120px;
  top: 0;
  right: 0;
  border-top-left-radius: 0;
}
.process {
  padding: 60px;
}
.process ol {
  list-style: none;
  counter-reset: item;
  padding-top: 60px;
  text-align: center;
 }
.process li {
  vertical-align: top;
  font-size: 18px;
  color: #010101;
  font-weight: 600;
  counter-increment: item;
  margin-bottom: 5px;
  background: #f5f5f5;
  width: 170px;
  height: 170px;
  border: 12px solid white;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  margin-right: 100px;
}
.process li:last-child {
  margin-right: 0;
}
.process li:after {
  content: '';
  border: 3px dashed #FB5519;
  position: absolute;
  top: -13px;
  right: -13px;
  bottom: -13px;
  left: -13px;
  border-radius: 100px;
}
.process li:before {
  content: "0" counter(item);
  border-radius: 100%;
  color: white;
  display: flex;
  position: absolute;
  width: 80px;
  height: 80px;
  background: #FB5519;
  border: 3px solid white;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
  top: -50px;
  left: -10px;
  z-index: 1;
}
.process li i.arrow {
  display: block;
  position: absolute;
  width: 110px;
  height: 75px;
  background: url(../img/process-arrow.svg) no-repeat;
  background-size: contain;
  bottom: -60px;
  right: -130px;
}
.process li i.arrow.top {
  background: url(../img/process-arrow-top.svg) no-repeat;
  top: -80px;
  bottom: initial;
  right: -110px;
}
/*////////////////////////
///      Lightbox     ////
////////////////////////*/
.fancybox-close { 
  background: none !important;
  background-color: #FB5519 !important;
  border-radius: 40px;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  font-weight: bold;
}
.fancybox-close:hover {
  background-color: #323232 !important;
}
.fancybox-close:before {
  font-family: bootstrap-icons !important;
  content: "\f5ee";
}

/*////////////////////////
///       Slick       ////
////////////////////////*/
.herobanner .caption {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 12px;
  left: 12px;
  padding-bottom: 100px;
}
.herobanner .caption strong {
  font-size: 31px;
  color: white;
  font-weight: normal;
  line-height: 120%;
}
.herobanner .caption h1 {
  font-size: 93px;
  color: white;
  font-weight: normal;
  margin-bottom: 10px;
}
.herobanner .caption p {
  font-size: 17px;
  color: white;
  font-weight: 600;
  line-height: 160%;
}
.herobanner .caption .herobanner-btns {
  padding-top: 25px;
  display: flex;
}
.herobanner .caption .herobanner-btns a:first-child {
  margin-right: 30px;
}
.herobanner .slider-for .img-cover {
  height: calc(100vh - 30px);
  display: flex;
  align-items: center;
}
.herobanner .slider-for .img-cover:before {
  content: '';
  display: block;
  background: rgba(0,0,0,.30);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.herobanner .slider-for {
  border-radius: 25px;
  overflow: hidden;
}
.herobanner .slider-for .slick-slide {
 height: calc(100vh - 30px);
}
.herobanner .page-scroll {
  font-family: "Yantramanav", serif;
  color: white;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 50%;
  transform: rotate(90deg);
}
.herobanner .page-scroll i {
  font-size: 18px;
  margin-left: 5px;
  position: relative;
  top: -3px;
}
.slider-nav {
  position: absolute;
  right: 12px;
  bottom: 0;
  z-index: 2;
}
.slider-nav .slick-slide {
  width: 80px !important;
  height: 80px;
  border: 6px solid #D9D9D9;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  margin-right: -25px;
  cursor: pointer;
  transition: all 300ms;
}
.slider-nav .slick-slide:nth-child(1) {
  z-index: 3;
} 
.slider-nav .slick-slide:nth-child(2) {
  z-index: 2;
} 
.slider-nav .slick-slide:nth-child(3) {
  z-index: 1;
} 
.slider-nav .slick-slide.slick-current {
  border-color: #666666;
}
.slider-nav .slick-slide.slick-current .img-cover:before {
  content: none;
}
.slider-nav .slider-nav-item.img-cover {
  width: 80px !important;
  height: 80px;
}
.slider-nav .slider-nav-item.img-cover:before {
  content: '';
  background: rgba(0,0,0,.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.slider-nav .slick-list {
  padding: 0 25px 0 0 !important;
}
.slick-dots li { width: 15px }
.slick-dots li button {
  width: 15px;
  height: 6px;
  background: #D9D9D9;
  border-radius: 4px;
  transition: all 300ms;
}
.slick-dots li.slick-active { width:25px; }
.slick-dots li.slick-active button {
  width: 25px;
  background: #FB5519;
}
.slick-dots li button:before { content: none; }
.slick-dots { bottom: -45px; }
.slick-prev, 
.slick-next {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 60px;
  box-shadow: 0 0 15px rgba(0,0,0,.10);
  z-index: 4;
  transition: all 300ms;
}
.slick-prev:before, 
.slick-next:before {
  font-family: bootstrap-icons !important;;
  font-size: 36px;
  color: #fb5519;
  opacity: 1;
} 
.slick-prev:focus, 
.slick-next:focus { background:white; } 
.slick-prev:hover, 
.slick-next:hover {
  background: #222222;
}
.slick-prev:hover:before, 
.slick-next:hover:before {
  color: white;
} 
.slick-next:before {
  content: "\f135";
}
.slick-prev:before {
  content: "\f12c";
} 
.projects .slick-prev, 
.projects .slick-next {
  right: -100px;
  left: initial;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.projects .slick-next {
  top: calc(50% - 80px);
}
/*////////////////////////
///      Counter       ///
////////////////////////*/
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
.count {
  counter-reset: num var(--tonum);
}
.count::after {
  content: counter(num);
}
.zero {
  counter-reset: num var(--num);
}
.anim {
  animation: counter 1s forwards ease-out 0.5s;
}
@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: var(--tonum);
  }
}
@media (prefers-reduced-motion: reduce) {
  div {
    animation: none !important;
  }
}
/*////////////////////////
///        Forms       ///
////////////////////////*/
label { margin-bottom: 10px; }
input[type=text],
input[type=email],
input[type=tel],
textarea,
select {
  font-size: 16px;
  color: #222222;
  background: white;
  border: none;
  width: 100%;
  height: 50px;
  padding: 15px 25px;
  margin-bottom: 30px;
  border-radius: 5px;
}
textarea {
  height: 250px;
}
select {
  font-size: 16px;
  color: #777777;
  font-weight: 600;
  background: url(../img/select-arrow.svg) no-repeat right #F8F8F8;
  -webkit-appearance: none;
  background-position-x: calc(100% - 25px);
}
input[type=submit] {
  width: 160px;
  height: 50px;
  background: #1B4381;
  color: white;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;  
  float: right;
  transition: all 300ms;     
}
input[type=submit]:hover {
  background: #CCCCCC;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  border-color: transparent;
}
input[type="checkbox"] { 
  margin-right: 10px;
}
::-webkit-input-placeholder { 
  font-size: 16px;
  color: #777777;
  font-weight: 600;
}
:-moz-placeholder { 
  font-size: 16px;
  color: #777777;
  font-weight: 600;
}
::-moz-placeholder { 
  font-size: 16px;
  color: #777777;
  font-weight: 600;
}
:-ms-input-placeholder { 
  font-size: 16px;
  color: #777777;
  font-weight: 600;
}
/*////////////////////////
///       Fonts        ///
////////////////////////*/
@font-face {
  font-family: "tessin";
  src:url("../fonts/tessin.eot");
  src:url("../fonts/tessin.eot?#iefix") format("embedded-opentype"),
      url("../fonts/tessin.woff") format("woff"),
      url("../fonts/tessin.ttf") format("truetype"),
      url("../fonts/tessin.svg#tessin") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "tessin" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tessin" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-linkedin:before {
  content: "\61";
}
.icon-facebook:before {
  content: "\63";
}
.icon-instagram:before {
  content: "\64";
}
.icon-menu:before {
  content: "\62";
}
.icon-close:before {
  content: "\65";
}
/*////////////////////////
///   Media Queries    ///
////////////////////////*/
@media (min-width: 1200px) {  }
@media screen and (max-width: 1290px) {
  nav ul li { margin-right: 20px; }
}
@media screen and (max-width: 1199px) {
  .process ol {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .process ol li {
    margin-right: 0;
    margin-bottom: 100px;
  } 
  .process ol li:last-child { margin-bottom:0; }
  .process li i.arrow {
    transform: rotate(90deg);
    right: 115px;
    bottom: -75px;
  }
  .process li i.arrow.top {
    top: initial;
    bottom: -100px;
    right: -75px;
  }
  .show-xxl { display: inline-block !important; }
  .hide-xxl { display: none !important; }
  .stage-medium .path.crt,
  .herobanner .path.crt {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 991px) {
  .show-xl { display: inline-block !important; }
  .hide-xl { display: none !important; }
}
@media screen and (max-width: 768px) {
  h1, .h1 { font-size: 35px; }
  h2, .h2 { font-size: 25px; }
  h3, .h3 { font-size: 20px; }
  h4, .h4 { font-size: 18px; }
  h5, .h5 { font-size: 15px; }
  h6, .h6 { }
}  
@media screen and (max-width: 767px) {
  .hide-md { display: none !important; }
  .show-md { display: block; }
  .hide-xs { display: none !important; }
  .reverse-md .col-a { order: 2; }
  .reverse-md .col-b { order: 1; }
  .row-service .txt { 
    padding-top: 0;
    padding-left: 15px; 
    margin-top: -50px;
    margin-left: 15px;
  }
  .card-single-img { height: 300px; }
  .process { padding: 40px 20px; }
}
@media screen and (max-width: 425px) {}
@media screen and (max-width: 425px) {}
@media screen and (max-width: 400px) {}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 320px) {}